# ============ سرور ============
PORT=3000
NODE_ENV=development

# ============ دیتابیس ============
MONGO_URI=mongodb://localhost:27017/alphaauthdb

# ============ JWT ============
# برای ساخت: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=your_super_secret_key_at_least_32_characters_long
JWT_EXPIRES_IN=7d

# ============ OTP ============
OTP_EXPIRES_MIN=10
OTP_MAX_ATTEMPTS=5

# ============ ادمین‌ها ============
# با کاما جدا کن: admin1@x.com,admin2@x.com
ADMIN_EMAILS=admin@example.com

# ============ ایمیل ============
# حالت تست (Ethereal)
USE_ETHEREAL=true

# Gmail (وقتی USE_ETHEREAL=false)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=AlphaAuth <no-reply@alphaauth.com>

# ============ SMS (Kavenegar) ============
KAVENEGAR_API_KEY=your_kavenegar_api_key
KAVENEGAR_SENDER=10008663